body {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.links {
    display: flex;
    justify-content: space-around;
    gap:20px;
}
button {
    background-color: #3882f6;
}

.information {
    display: flex;
    align-items: center;
}
.leftinfo {
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.rightinfo {
    flex: 1;
}
